*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#welcomemsg{
    display: flex;
    justify-content: space-evenly;
}
.introductory{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 60px;
}
.code_icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#starttest{
    background-color: #E48257;
    margin-top: 15px;
    width: 20vw;

}
#name_edit{
    width: 40vw;
    border-radius: 16px;
}

 .first_form{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.welcomemsg{
    height: 100vh;
}
.warm_message{
    color: green;
    font-size: 24px;
    padding-bottom: 25px;
}
.setone{
    display: flex;
    flex-direction: column;
}
.questions{
padding-bottom: 20px;
}
.choices{
    padding-bottom: 15px;
}

.test_form{
    display: flex;
    justify-content: space-around;

}
.tests{
    color: #E48257;
}
.javascript_header{
    color: green;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.form-check-input[type='radio']{

border: 2px solid #E48257;
}
.form-check-input:checked {
    background-color: #E48257;
    border-color: #E48257;
}
#questions_btn{
    background-color: #E48257;
}