*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

#welcomemsg{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.code_icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#starttest{
    background-color: #E48257;
    margin-top: 50px;
    width: 20vw;
    border-radius: 5px;
    font-size: large;

}
#name_edit{
    width: 42vw;
    height: 10vh;
    border-radius: 28px;
}

 .first_form{
    display: flex;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
}
.welcomemsg{
    height: 100vh;
}
.warm_message{
    color: green;
    font-size: 44px;
    font-weight: 700px;
    padding-bottom: 25px;
}
.setone{
    display: flex;
    flex-direction: column;
}
.questions{
padding-bottom: 20px;
}
.choices{
    padding-bottom: 15px;
}

.test_form{
    display: flex;
    justify-content: space-around;

}
.tests{
    color: #E48257;
}
.javascript_header{
    color: green;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.form-check-input[type='radio']{

border: 2px solid #E48257;
}
.form-check-input:checked {
    background-color: #E48257;
    border-color: #E48257;
}
#questions_btn{
    background-color: #E48257;
    width: 20vw;
    align-items: center;
    position: relative;
    left: 55px;
}
#test_container, #excellently_container, #fairly_container,#fail_container{
    display: none;
}
#test_container{    
    overflow-x: hidden;
}
.excellently_passed{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.displaytext{
    color: #3A6351;
    font-size: 28px;
}
.resulttest{
    color: #E48257;

}
.passed_panda img{
    width: 25vw;
}

.average_panda img{
    width: 20vw;
}
.resultmsg{
text-align: center;
}
.form-check-input:checked {
    background-color: #E48257; 
     border-color: #E48257;
}
.code_icon2{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 41px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.icon1{
    position: relative;
    bottom: 44px;
    right: 77px;
    
}
.icon2{
    position: relative;
    position: relative;
    top: 187px;
    right: 100px;
}
.icon3{
    position: relative;
    bottom: 126px;}


.formImage1{
    position: relative;
}
.collectionImages1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formImage2{
    position: relative;
    bottom: 326px;
    right: 38px;
}
.formImage3{
    position: relative;
    top: -6px;
    left: 23px;
}
.formImage4{
    position: relative;
    left: 50%;
    top: 37%;
}
.formImage1{
    width: 15px;
}

.formImage1 img, .formImage2 img, .formImage3 img, .formImage3 img, .formImage4 img{
    width: 10vw;
}
 
@media only screen and (max-width:600px) {
    *{
        overflow-x: hidden;
    }
    #name_edit{
        width: 70vw;
        height: 10vh;
        border-radius: 28px;
        font-weight: 27px;
    }
    .icon1{
        position: relative;
        bottom: 10px;
        right:57px;
    }
    .icon2{
        display: none;
    }
    .icon3{
        bottom: 29px;        
    }
    #starttest{
        width: 37vw;
        height: 6vh;
        font-size:24px
    }
    .warm_message {
        font-size: 47px;
    }
    .collectionImages1, .collectionImages2{
        display: none;
    }
   
 
   
}